* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling af logo  */
.logo {
  font-family: "Limelight", cursive;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* styling af header */
header {
  background-color: #595959;
  position: sticky;
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* styling af menu */
#menu {
  /* position: absolut gør elementets placerering relativt til den nærmeste parent som ikke har position: static (static er default på alle elementer). Her er den relativ ifht "header", da den er position: sticky.  */
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #8c8c8c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;

  transition: transform 0.3s;
  transform: translateX(-100%);
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 1.7rem;
  display: block;
}

#menu a:hover {
  color: #ffffff;
}

/* styling af burger_btn */
#burger_btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #595959;
  position: relative;
}

.stroke {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

/* styling af first_section */
#first_section {
  background-color: #595959;
  width: 100%;
  height: 100vh;
}

/* styling af h1 */
