/* Generelt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling af menu */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#menu {
  height: 100vh;
  background-color: #8c8c8c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;

  transition: transform 0.3s;
  transform: translateX(-100%);
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  font-family: sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 1.7rem;
  display: block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

#menu a:hover {
  color: #ffffff;
}

/* grid tilføjet til nav, for at placere burger_btn */
nav {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
}

/* styling af burger_btn */
#burger_btn {
  grid-column: 7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;
}

.stroke {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: greenyellow;
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section {
  grid-column: 1/4;
}

/* styling af first_section */
#first_section {
  background-color: #595959;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 0% 10%;
}

/* styling af h1 */
h1 {
  font-family: "Limelight", cursive;
  color: #ffffff;
}
