/* generelt for hele sitet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generelt for p */
p {
  max-width: 60ch;
  hyphens: auto;
}

/* generelt for img og video */
img {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(2px 4px 8px #000);
}

/* footer */
footer {
  height: 8em;
  text-align: center;
  padding: 4em;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #f4f4f4;
}

footer p {
  max-width: none;
}

/* styling af ikon  */
.logo {
  max-width: 50px;
  margin-left: 0.8em;
}

.logo img {
  filter: none;
}
/* styling af knapper */
.knap {
  background: #ffffff;
  box-shadow: 0 3px 6px #d9d9d9;
  border: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 15px 30px;
  width: 50vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2em;
}

.web_knap a:hover,
.web_knap1 a:hover {
  background-color: #ebeaea;
}

/* MENU GENERELT */
/* styling af header */
header {
  background: linear-gradient(
    90deg,
    rgba(51, 83, 158, 1) 0%,
    rgba(165, 103, 142, 1) 80%
  );
  position: sticky;
  top: 0;
  left: 0;

  /* (for at undgå at img flyder over navbar) */
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* styling af menu */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#menu {
  /* position: absolut gør elementets placerering relativt til den nærmeste parent som ikke har position: static (static er default på alle elementer). Her er den relativ ifht "header", da den er position: sticky.  */
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;

  transition: transform 0.3s;
  transform: translateX(-100%);
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 1.7rem;
  display: block;
}

#menu a:hover {
  color: #a5678e;
}

/* styling af burger_btn */
#burger_btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #a5678e;
  position: relative;
}

.stroke {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

/* ------FORSIDE------ */
/* FIRST SECTION GENERELT */
/* styling af first_section */
#forside_section1 {
  background: linear-gradient(
    90deg,
    rgba(51, 83, 158, 1) 0%,
    rgba(165, 103, 142, 1) 80%
  );
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* styling af h1 */
h1 {
  font-family: "Limelight", cursive;
  color: #ffffff;
  font-size: clamp(3rem, 5.5vw + 1.9rem, 6rem);
}

/* placering af h1  */
.text1 {
  grid-column: 2/8;
  grid-row: 5/6;
}

.text2 {
  grid-column: 5/6;
  grid-row: 6/7;
}

/* styling og placering af boks */
.boks {
  border: 2px solid white;
  grid-column: 2/7;
  grid-row: 4/8;
}

/* SECOND SECTION FORSIDE*/
/* styling af elementer i second_section på forside */
.element_1,
.element_2,
.element_3,
.element_4 {
  width: 70%;
  height: 7em;
  background: #ffffff;
  box-shadow: 0 3px 6px #d9d9d9;
  margin: 10px 0px;
  padding-left: 20px;
}

/* styling af h2 i second_section på forside*/
#forside_section2 h2 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

/* placering af h2 i second_section på forside */
#forside_section2 .text {
  padding: 2em;
}

/* styling af p i second_section på forside */
#forside_section2 a {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

/* hover-effekt til links på forside */
#forside_section2 a:hover {
  background-color: #ebeaea;
}

/* placering af elementer i second_section på forside */
.forside_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* bagrundsfarve på forside */
#forside_section2 {
  background-color: #f4f4f4;
}

/* FIRST SECTON GENERELT PÅ ALLE UNDERSIDER */
/* styling af first_section */
#web_section1,
#ux_section1,
#animation_section1,
#indhold_section1,
#om_section1 {
  background-color: #f4f4f4;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/* styling af h2 */
#web_section1 h2,
#ux_section1 h2,
#animation_section1 h2,
#indhold_section1 h2,
#om_section1 h2 {
  font-family: "Montserrat", cursive;
  color: #000000;
  font-size: clamp(1.5rem, 1.2vw + 1.5rem, 3rem);
  grid-column: 2/10;
  margin-top: 1em;
}

/* SECOND/THIRD SECTION GENERELT PÅ ALLE UNDERSIDER */
/* styling af h3 */
#web_section2 h3,
#ux_section2 h3,
#animation_section2 h3,
#indhold_section2 h3,
#indhold_section3 h3,
#om_section2 h3 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  margin-top: 2em;
  margin-bottom: 1em;
}
/* styling af p */
#web_section2 p,
#ux_section2 p,
#animation_section2 p,
#indhold_section2 p,
#indhold_section3 p,
#om_section2 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  line-height: 150%;
}

/* elementer placeres via grid */
.section_wrapper {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col_1,
.col_2 {
  grid-column: 2/12;
}

.col2_img,
.col_img {
  grid-column: 2/12;
}

.web_knap,
.web_knap1 {
  grid-column: 4/8;
}

#indhold_section3 .col_2,
#indhold_section3 .col2_img {
  margin-top: 4em;
}

/* MEDIAQUERIES */
/* styling og placering af img på "om mig" */
@media (min-width: 550px) {
  #om_section2 .col_img img {
    max-width: 400px;
  }
  #om_section2 .col_img {
    grid-column: 3/11;
  }
}

/* placering af elementer på undersider */
@media (min-width: 850px) {
  .col_1,
  .col_2 {
    grid-column: 3/11;
  }

  .col2_img,
  .col_img {
    grid-column: 3/11;
  }

  /* placering af img på "om mig" */
  #om_section2 .col_img {
    grid-column: 4/11;
  }
}

/* placering af h2 i first_section på undersider */
@media (max-width: 1000px) and (min-width: 850px) {
  #web_section1 h2,
  #ux_section1 h2,
  #animation_section1 h2,
  #indhold_section1 h2,
  #om_section1 h2 {
    grid-column: 3/11;
  }
}

/* fra burgermenu til menubar */
@media (min-width: 1000px) {
  #menu {
    position: static;
    width: 100%;
    height: auto;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: none;
    transform: none;
    padding: 0;
  }

  #menu a {
    color: #ffffff;
    font-size: 1.2rem;
  }

  #menu a.link4:hover,
  #menu a.link5:hover,
  #menu a.link6:hover {
    color: rgba(51, 83, 158, 1);
  }

  #burger_btn {
    display: none;
  }

  /* placering af elemener på undersider */
  .col_1,
  .col_2 {
    grid-column: 2/7;
  }

  .col2_img,
  .col_img {
    grid-column: 8/12;
    display: grid;
    align-items: center;
  }
  /* placering af img på "om mig" */
  #om_section2 .col_img {
    grid-column: 8/12;
  }

  /* styling af knapper */
  .knap {
    width: 30vw;
  }

  /* placering af knapper */
  .web_knap,
  .web_knap1 {
    grid-column: 5/9;
  }
  .forside_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 2em 0 2em;
    gap: 2em;
  }
}
